* {
    transition: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    background: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 32px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

@media (max-width: 470px)
{
    .card {width: 100%; height: 100%;}
}

.logo {
    margin: 0 auto;
    background-image: url('https://pub-7c8122dd7ae64deeab493bc5ad81ec0d.r2.dev/GingerMemories_Logo/GingerMemories%20Logo.svg');
    background-size: cover;
    width: 120px;
    height: 120px;
}

h1 {
    margin: -10px 0 8px 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #112d4e;
}

h3 {
    margin-top: -25px;
    text-align: center;
    font-size: 18px;
    color: rgba(17, 45, 78, 0.75);
}

.questions {
    font-size: 14px;
}

input {
    margin-top: -24px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

.lORr, .loginORregister {
    font-size: 14px;
    font-weight: bold;
    color: #112d4e;
    border: none;
    background: none;
    padding: 0;
}

.lORr {color: black;}

.loginORregister:hover {
    cursor: pointer;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    scale: 0.98;
    cursor: pointer;
}